@model IEnumerable<ComprasCartonesLGP.Entities.CompraDeSolicitud>
@{
    ViewBag.Title = "Compras";
}

<br />
<nav aria-label="breadcrumb">
    <ol class="breadcrumb background-turquesa3">
        <li class="breadcrumb-item textoBlanco" aria-current="page"><h4>@ViewBag.Title</h4></li>
    </ol>
</nav>
<div class="table-responsive" id="tableCtaCte">
    <table class="table table-hover" id="job-table">
        <thead>
            <tr class="text-center">
                <th scope="col">
                    <div align="center">Nº Solicitud</div>
                </th>
                <th scope="col">
                    <div align="center">Fecha Compra</div>
                </th>
                <th scope="col">
                    <div align="center">Pago</div>
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody class="text-center tableBody">
            @foreach (var item in Model)
            {
                <tr class="">
                    <td class="">
                        @Html.DisplayFor(modelItem => item.NroSolicitud)
                    </td>
                    <td class="">
                        @item.FechaVenta.ToString("dd-MM-yyyy")
                    </td>
                    @if(item.PagoRealizdo == true)
                    {
                        <td class="">
                            Completo
                        </td>                        
                    }
                    else
                    {
                        <td class="">
                            Pendiente
                        </td> 
                    }
                    <td width="5%"><a href="@Url.Action("Details", new { id = item.ID, page = ViewBag.page, currentFilter = ViewBag.CurrentFilter })"><div align="center"><i class="fa fa-info" aria-hidden="true"></i></div></a></td>
                </tr>
            }
        </tbody>        
    </table>
    <br /><br />
</div>