
@{
    ViewBag.Title = "RegistroDatos";
}

<div class="col-md-12">
    <h2 class="mt-4 text-center"><b>Registrarse</b></h2>
    <div class="card-body">
        @using (Html.BeginForm())
        {
            <div class="form-group row">
                <div class="col-md-12 text-center">
                </div>

                <div class="col-md-6">
                    <label for="Nombre" class="col-md-4 col-form-label text-md-right">Nombre</label>
                    <input id="Nombre" type="text" class="form-control " name="Nombre" value="" required="" autofocus="">
                </div>

                <div class="col-md-6">
                    <label for="Apellido" class="col-md-4 col-form-label text-md-right">Apellido</label>
                    <input id="Apellido" type="text" class="form-control " name="Apellido" value="" required="" autofocus="">
                </div>
            </div>

            <div class="form-group row">
                <div class="col-md-12">
                    <label for="Dni" class="col-form-label text-md-right">Dni (sin puntos)</label>
                    <input id="Dni" type="number" class="form-control " name="Dni" value="@ViewBag.Dni" readonly>

                </div>
            </div>

            <div class="form-group row">
                <div class="col-md-12">
                    <label for="Cuit" class="col-form-label text-md-right">CUIT (sin guiones)</label>
                    <input id="Cuit" type="number" class="form-control " name="Cuit" value="" required="" autofocus="">

                </div>
            </div>

            <div class="form-group row">
                <div class="col-md-12">
                    <label for="FechaNacimiento" class="col-form-label text-md-right">Fecha de nacimiento</label>
                    <input id="FechaNacimiento" type="date" class="form-control " name="FechaNacimiento" value="" required="" autofocus="">

                </div>
            </div>

            <div class="form-group row mt-3 focused">
                <div class="col-md-12">
                    <label for="Sexo" class="col-form-label text-md-right">Sexo</label>
                    <input id="Sexo" type="text" class="form-control " name="Sexo" value="@ViewBag.Sexo" readonly>
                </div>
            </div>

            <div class="form-group row">

                <div class="col-md-12">
                    <label for="Direccion" class="col-form-label text-md-right">Calle</label>
                    <input id="Direccion" type="text" class="form-control " name="Direccion" value="" required="">

                </div>
            </div>

            <div class="form-group row">
                <div class="col-md-12">
                    <label for="Altura" class="col-form-label text-md-right">Número</label>
                    <input id="Altura" type="text" class="form-control " name="Altura" value="" required="">
                </div>
            </div>

            <div class="form-group row">
                <div class="col-md-12">
                    <label for="Torre" class="col-form-label text-md-right">Torre</label>
                    <input id="Torre" type="text" class="form-control " name="Torre" value="">
                </div>
            </div>

            <div class="form-group row">
                <div class="col-md-12">
                    <label for="Piso" class="col-form-label text-md-right">Piso</label>
                    <input id="Piso" type="text" class="form-control " name="Piso" value="">
                </div>
            </div>

            <div class="form-group row">
                <div class="col-md-12">
                    <label for="Dpto" class="col-form-label text-md-right">Departamento</label>
                    <input id="Dpto" type="text" class="form-control " name="Dpto" value="">
                </div>
            </div>

            <div class="form-group row mt-3 focused">
                <div class="col-md-12">
                    <label for="ProvinciaID" class="col-form-label text-md-right">Provincia</label>
                    @Html.DropDownList("ProvinciaID", null, new { @class = "form-control" })
                </div>
            </div>

            <div class="form-group row">
                <!--- TODO: add select with cities -->
                <div class="col-md-12">
                    <label for="LocalidadId" class="col-form-label text-md-right">Localidad</label>
                    <select class="form-control" name="LocalidadId" id="LocalidadId"></select>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-md-12">
                    <label for="" class="col-form-label text-md-right">Teléfono Fijo</label>
                </div>

                <div class="col-md-6">
                    <label for="AreaTelefonoFijo" class="col-form-label text-md-right">Característica</label>
                    <input id="AreaTelefonoFijo" type="text" class="form-control " name="AreaTelefonoFijo" value="">
                </div>

                <div class="col-md-6">
                    <label for="NumeroTelefonoFijo" class="col-form-label text-md-right">Número</label>
                    <input id="NumeroTelefonoFijo" type="text" class="form-control " name="NumeroTelefonoFijo" value="">
                </div>
            </div>

            <div class="form-group row">
                <div class="col-md-12">
                    <label for="" class="col-form-label text-md-right">Teléfono Celular</label>
                </div>

                <div class="col-md-6">
                    <label for="AreaTelefonoFijo" class="col-form-label text-md-right">Característica</label>
                    <input id="AreaTelefonoFijo" type="text" class="form-control " name="AreaCelular" value="" required="">
                </div>

                <div class="col-md-6">
                    <label for="NumeroTelefonoFijo" class="col-form-label text-md-right">Número</label>
                    <input id="NumeroTelefonoFijo" type="text" class="form-control " name="NumeroCelular" value="" required="">
                </div>
            </div>

            <div class="form-group row">
                <div class="col-md-12">
                    <label for="Email" class="col-form-label text-md-right">Email</label>
                    <input id="Email" type="email" class="form-control " name="Email" value="@ViewBag.Email" readonly>
                </div>
            </div>

            <div class="mt-4">
                <div class="form-group row mb-0">
                    <div class="col-md-6 offset-md-4">
                        @*<a href="eleccion_solicitud.html" class="btn btn-primary">REGISTRARSE</a>*@
                        <input type="submit" class="btn btn-primary" value="REGISTRARSE" />
                    </div>
                </div>
            </div>
        }

    </div>
</div>
