<!doctype html>
<html lang="es">
<head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Purpose is a unique and beautiful collection of UI elements that are all flexible and modular. A complete and customizable solution to building the website of your dreams.">
    <meta name="author" content="Webpixels">
    <title>La Gran Promoción</title>
    <!-- Favicon -->
    <link rel="icon" href="~/assets/img/brand/favicon.png" type="image/png">
    <!-- Font Awesome 5 -->
    <link rel="stylesheet" href="~/assets/libs/fortawesome/fontawesome-free/css/all.min.css"><!-- Page CSS -->
    <link href="https://fonts.googleapis.com/css?family=Oswald:400,700" rel="stylesheet">
    <link type="text/css" href="~/assets/libs/fancyapps/fancybox/dist/jquery.fancybox.min.css" rel="stylesheet">
    <link type="text/css" href="~/assets/libs/swiper/dist/css/swiper.min.css" rel="stylesheet">

    <!-- Purpose CSS -->
    <link rel="stylesheet" href="~/assets/css/purpose.css" id="stylesheet">

    <script src="../code.jquery.com/jquery-1.11.1.min.js"></script>
    <link href="../maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="../maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="../cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
    <link rel="stylesheet" href="~/assets/css/custom-styles.css">
</head>
<body>

    <header class="header header-transparent mt-lg-5" id="header-main">
        <!-- Main navbar -->
        <nav class="navbar navbar-main navbar-expand-lg navbar-transparent navbar-light bg-white" id="navbar-main">
            <div class="container px-lg-0 justify-content-left lgp-container-header">
                <div class="d-flex justify-content-center">
                    <!-- Logo -->
                    <a class="mr-lg-6" href="index.php">
                        <img src="~/assets/img/landing/logo.png" alt="logo" width="150px">
                    </a>
                    <!-- Navbar collapse trigger -->
                    <button class="navbar-toggler lgp-burguer" type="button" data-toggle="collapse" data-target="#navbar-main-collapse"
                            aria-controls="navbar-main-collapse" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                </div>
                <!-- Navbar nav -->
            </div>
        </nav>
    </header>

    <div class="slice slice-lg bg-section-secondary lgp-slice">
        <div class="row justify-content-center mx-0" style="background-color: #fff;">
            <div class="container mt-12">
                <div class="row">
                    @RenderBody()
                    <br><br>
                </div>
            </div>
        </div>
    </div>

    <footer class="footer footer-dark bg-gradient-primary overflow-hidden" id="footer-main">
        <div class="row mx-0 align-items-center justify-content-md-between py-4 mt-4 delimiter-top">
            <div class="col-md-12">
                <div class="copyright font-weight-bold text-center text-md-center">
                    Sistema de Venta Online de Promociones - Copyright © 2021 <span class="font-weight-bold">La Gran Promoción</span>. Todos los derechos reservados.
                </div>
            </div>
        </div>
    </footer>

    @RenderSection("scripts", required: false)
    <!-- Core JS - includes jquery, bootstrap, popper, in-view and sticky-kit -->
    <script data-cfasync="false" src="cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
    <script src="~/assets/js/purpose.core.js"></script>
    <!-- Page JS -->
    <script src="~/assets/libs/jquery-countdown/dist/jquery.countdown.min.js"></script>
    <script src="~/assets/libs/fancyapps/fancybox/dist/jquery.fancybox.min.js"></script>
    <script src="~/assets/libs/swiper/dist/js/swiper.min.js"></script>
    <!-- Google maps -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCBuyKngB9VC3zgY_uEB-DKL9BKYMekbeY"></script>
    <!-- Purpose JS -->
    <script src="~/assets/js/purpose.js"></script>

    <!-- Radio -->
    <script type="text/javascript" src="../hosted.muses.org/mrp.js"></script>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-F558X1B8YK"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-F558X1B8YK');
    </script>

    <script>
        $(document).ready(function () {
            if ($('#ProvinciaID').length) {
                $('#ProvinciaID').change(function () {
                    $.ajax({
                        type: "GET",
                        traditional: true,
                        async: false,
                        cache: false,
                        url: '/Clientes/getLocalidades',
                        data: {
                            ProvinciaId: $('#ProvinciaID').val()
                        },
                        dataType: 'json',
                        success: function (data) {
                            $('#LocalidadId').empty();
                            $.each(data, function (i, data) {
                                $("#LocalidadId").append('<option value="'
                                    + data.ID + '">'
                                    + data.Descripcion + '</option>');
                            });
                        },
                        error: function (ex) {
                            alert('Ocurrio un Error, Por Favor intente nuevamente mas tarde.');
                        }
                    });
                });
            }

            if ($('#squaredOne').length) {
                $('#squaredOne').change(function () {
                    $('#PagoDebitoAutomatico').hide();
                    $('#adhesionCBU').hide();
                    $('#adhesionTarjeta').hide();
                    $(this).prop('checked', true);
                    $('#squaredTwo').prop('checked', false);
                });
                $('#squaredTwo').change(function () {
                    $(this).prop('checked', true);
                    $('#squaredOne').prop('checked', false);
                    $('#PagoDebitoAutomatico').show();
                });
                $('#DebitoConTarjeta').change(function () {
                    $('#adhesionCBU').hide();
                    $('#adhesionTarjeta').show();
                });
                $('#DebitoConCbu').change(function () {
                    $('#adhesionTarjeta').hide();
                    $('#adhesionCBU').show();
                });
            }

            $('#Anio').change(function () {
                $('#btnsubmit').click();
            })

            $('#ModalCancelarAdhesion').on('show.bs.modal', function (event) {
                console.log("llego");
                var button = $(event.relatedTarget);
                var valores = button.data('idadhesion') + " " + button.data('tipopagoid');
                let array = valores.split(' ');
                $("#IdAdhesion").val(array);
                console.log($("#IdAdhesion").val());
            })

            $('#CancelarAdhesionSi').click(function () {
                var array = $("#IdAdhesion").val();
                var adhesionId = array.split(",")[0];
                var tipoPagoId = array.split(",")[1];
                console.log(adhesionId);
                console.log(tipoPagoId);
                if (tipoPagoId == 3) {
                        @*$.ajax({
                        type: "POST",
                        traditional: true,
                        async: false,
                        cache: false,
                        url: '@Url.Action("CancelarAdhesionCard360", "Compras")',
                        data: {
                            adhesionId = adhesionId,
                        },
                        dataType: 'json',
                        success: function (data) {
                        },
                        error: function (ex) {
                            alert('Ocurrio un Error, Por Favor intente nuevamente mas tarde.');
                        }
                    });*@
                }
                @*if (tipoPagoId == 2) {
                        $.ajax({
                        type: "POST",
                        traditional: true,
                        async: false,
                        cache: false,
                        url: '/Clientes/getLocalidades',
                        data: {
                            ProvinciaId: $('#ProvinciaID').val()
                        },
                        dataType: 'json',
                        success: function (data) {
                            $('#LocalidadId').empty();
                            $.each(data, function (i, data) {
                                $("#LocalidadId").append('<option value="'
                                    + data.ID + '">'
                                    + data.Descripcion + '</option>');
                            });
                        },
                        error: function (ex) {
                            alert('Ocurrio un Error, Por Favor intente nuevamente mas tarde.');
                        }
                    });
                }*@
            })

            //// Function to clear all dabs from the card
            //function cleanCard() {
            //    $('td').css('background-color', 'rgb(119, 119, 119)');
            //}

            //// Clear all dabs from the card when clicking the "#cleanCard" button
            //$('#cleanCard').click(function (e) {
            //    e.preventDefault();
            //    cleanCard();
            //});

            //// When clicking a 'td' element, (1) add/remove the 'dabbed' class, (2) add/remove its id to/from the isDabbed array, and (3) run a check for bingos
            //$('td').click(function () {
            //    var fondo = $(this).css("background-color");
            //    if (fondo == "rgb(224, 191, 29)") {
            //        $(this).css('background-color', 'rgb(119, 119, 119)');
            //    } else {
            //        $(this).css('background-color', 'rgb(224, 191, 29)');
            //    }
            //    //var trevol = $(this).data("trevol");
            //    //if ($(trevol).is(":visible")) {
            //    //    $(trevol).hide();
            //    //} else {
            //    //    $(trevol).show();
            //    //}
            //});

            //$('.tabCarton').click(function () {
            //    var tab = $(this).data('first-tab');
            //    $('#CartonesInteractivos > .tab-pane').removeClass('active');
            //    $('#CartonesInteractivos > .tab-pane').removeClass('in');
            //    $('#' + tab).addClass('in');
            //    $('#' + tab).addClass('active');
            //    $('.SubSorteos').val(tab);
            //});

            //$('.SubSorteos').change(function () {
            //    var tab = $(this).val();
            //    $('#CartonesInteractivos > .tab-pane').removeClass('active');
            //    $('#CartonesInteractivos > .tab-pane').removeClass('in');
            //    $('#' + tab).addClass('in');
            //    $('#' + tab).addClass('active');
            //});
        });
    </script>
</body>
</html>
