<!doctype html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description"
          content="Purpose is a unique and beautiful collection of UI elements that are all flexible and modular. A complete and customizable solution to building the website of your dreams.">
    <meta name="author" content="Webpixels">
    <title>La Gran Promoción</title>
    <!-- Favicon -->
    <link rel="icon" href="~/Content/assets/img/brand/favicon.png" type="image/png">
    <!-- Font Awesome 5 -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"><!-- Page CSS -->
    <link href="https://fonts.googleapis.com/css?family=Oswald:400,700" rel="stylesheet">
    <link type="text/css" href="~/Content/assets/libs/fancyapps/fancybox/dist/jquery.fancybox.min.css" rel="stylesheet">
    <link type="text/css" href="~/Content/assets/libs/swiper/dist/css/swiper.min.css" rel="stylesheet">

    <!-- Purpose CSS -->
    <link rel="stylesheet" href="~/Content/assets/css/purpose.css" id="stylesheet">

    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="~/Scripts/bootstrap.min.js"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
    <link rel="stylesheet" href="~/Content/assets/css/custom-styles.css">

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-25870330-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-25870330-1');
    </script>
</head>
<body>

    <header class="header header-transparent mt-lg-5" id="header-main">
        <!-- Main navbar -->
        <nav class="navbar navbar-main navbar-expand-lg navbar-transparent navbar-light bg-white" id="navbar-main">
            <div class="container px-lg-0 justify-content-center lgp-container-header">
                <div class="d-flex justify-content-center">
                    <!-- Logo -->
                    <a class="mr-lg-5" href="https://lagranpromocion.com.ar/index.php">
                        <img src="~/Content/assets/img/landing/logo.png" alt="logo" width="150px">
                    </a>
                    <!-- Navbar collapse trigger -->
                    <button class="navbar-toggler lgp-burguer" type="button" data-toggle="collapse" data-target="#navbar-main-collapse"
                            aria-controls="navbar-main-collapse" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                </div>
                <!-- Navbar nav -->
                <div class="collapse navbar-collapse lgp-mobile-navbar" id="navbar-main-collapse">
                    <ul class="navbar-nav align-items-lg-center ml-lg-auto">
                        <li class="nav-item">
                            <a class="nav-link lgp-nav-link" href="https://www.lagranpromocion.com.ar/ganadores.php">
                                <h5><b>Ganadores</b></h5>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link lgp-nav-link" href="https://www.lagranpromocion.com.ar/sorteos.php">
                                <h5><b>Sorteos</b></h5>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link lgp-nav-link" href="https://www.lagranpromocion.com.ar/contacto.php">
                                <h5><b>Contacto</b></h5>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link lgp-nav-link" href="https://www.lagranpromocion.com.ar/quiero-vender.php">
                                <h5><b>Quiero Vender</b></h5>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link lgp-nav-link" href="https://www.lagranpromocion.com.ar/sobre-nosotros.php">
                                <h5><b>Sobre Nosotros</b></h5>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link lgp-nav-link" href="@Url.Action("CerrarSesion", "Home")">
                                <h5><b>Cerrar Sesión</b></h5>
                            </a>
                        </li>
                        <li class="nav-item mr-0 nav-radio">
                            <a href="http://stnt.com.ar/lgpr/radio/reproductor.html" target="_blank" class="btn btn-sm btn-dark btn-icon rounded-pill d-inline-flex">
                                <span class="btn-inner--icon"><i class="fas fa-play"></i></span>
                                <span class="btn-inner--text">RADIO</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <div class="slice slice-lg bg-section-secondary lgp-slice"
         style="background: url(../../Content/assets/img/landing/home-bg.jpg)center fixed; background-size: cover; min-height: 80vh ">
        <div class="row justify-content-center mx-0" style="background-color: #fff;">
            <div class="container mt-4">
                <div class="row">
                    @RenderBody()
                </div>
                <br><br>
            </div>
        </div>
    </div>

    <footer class="footer footer-dark bg-gradient-primary overflow-hidden" id="footer-main">
        <div class="row">
            <div class="col-lg-4 mb-5 mb-lg-0 carousel-img">
                <div class="lgp-footer-img">
                    <img src="~/Content/assets/img/brand/logo-bingo.png" width="200px">
                    <img src="~/Content/assets/img/svg/sociedad-cosmopolita.svg" width="150px">
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 mb-5 mb-lg-0 lgp-footer-menu lgp-mw-footer">
                <h3 class="heading mb-3 lgp-footer-h3 text-uppercase">Contactanos</h3>
                <ul class="list-unstyled">
                    <li><i class="mr-1 fas fa-map-marker-alt"></i> Casa Central Bv. San Martin 231 - Devoto - Córdoba - Argentina</li>
                    <li><i class="mr-1 fab fa-whatsapp"></i> 3564 603610</li>
                    <li><i class="mr-1 fas fa-phone"></i> 0800 555-8322</li>
                    <li><i class="mr-1 fas fa-envelope"></i> <a href="mailto:info@lagranpromocion.com.ar" target="_blank" class="__cf_email__">info@lagranpromocion.com.ar</a></li>
                </ul>
            </div>
            <div class="col-lg-3 col-sm-6 mb-5 mb-lg-0 d-none lgp-footer-menu">
                <h3 class="heading mb-3 lgp-footer-h3 text-uppercase">La gran promoción</h3>
                <ul class="list-unstyled text-small">
                    <li><a href="#"><i class="mr-1 fas fa-link"></i> Presentación</a></li>
                    <li><a href="#"><i class="mr-1 fas fa-link"></i> Sorteo anual</a></li>
                    <li><a href="#"><i class="mr-1 fas fa-link"></i> Sorteo premio pago anticipado</a></li>
                    <li><a href="#"><i class="mr-1 fas fa-link"></i> Sorteos mensuales</a></li>
                    <li><a href="#"><i class="mr-1 fas fa-link"></i> ¿Cómo comprarlas?</a></li>
                </ul>
            </div>
            <div class="col-lg-4 col-sm-6 mb-5 mb-lg-0 lgp-footer-menu">
                <h3 class="heading mb-3 lgp-footer-h3 text-uppercase">Preguntas Frecuentes</h3>
                <ul class="list-unstyled">
                    <li><a href="https://lagranpromocion.com.ar/terminos-y-condiciones.php"><i class="mr-1 fas fa-question-circle"></i> Términos y condiciones</a></li>
                    <li><a href="https://lagranpromocion.com.ar/preguntas-frecuentes.php"><i class="mr-1 fas fa-question-circle"></i> Preguntas frecuentes</a></li>
                </ul>
            </div>
        </div>
        <div class="row mx-0 align-items-center justify-content-md-between py-4 mt-4 delimiter-top">
            <div class="col-md-6">
                <div class="copyright font-weight-bold text-center text-md-left">
                    © 2021 <span class="font-weight-bold">La gran promoción</span>. Todos los
                    derechos
                    reservados.
                </div>
            </div>
            <div class="col-md-6">
                <ul class="nav justify-content-center justify-content-md-end mt-3 mt-md-0">
                    <li class="nav-item">
                        <a class="nav-link" href="https://www.facebook.com/LaGranPromocion?fref=ts" target="_blank">
                            <i class="fab fa-facebook"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </footer>

    @RenderSection("scripts", required: false)
    <!-- Core JS - includes jquery, bootstrap, popper, in-view and sticky-kit -->
    <script data-cfasync="false" src="https://cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
    <script src="~/Content/assets/js/purpose.core.js"></script>
    <!-- Page JS -->
    <script src="~/Content/assets/libs/jquery-countdown/dist/jquery.countdown.min.js"></script>
    <script src="~/Content/assets/libs/fancyapps/fancybox/dist/jquery.fancybox.min.js"></script>
    <script src="~/Content/assets/libs/swiper/dist/js/swiper.min.js"></script>
    <!-- Google maps -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCBuyKngB9VC3zgY_uEB-DKL9BKYMekbeY"></script>
    <!-- Purpose JS -->
    <script src="~/Content/assets/js/purpose.js"></script>

    <!-- Radio -->
    <script type="text/javascript" src="https://hosted.muses.org/mrp.js"></script>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-F558X1B8YK"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-F558X1B8YK');
    </script>
    <script>
        MRP.insert({
            'url': 'https://server.laradio.online/proxy/sociedad_cosmopolita?mp=/stream',
            'codec': 'aac',
            'volume': 100,
            'autoplay': false,
            'jsevents': true,
            'buffering': 0,
            'title': '',
            'wmode': 'transparent',
            'skin': 'alberto',
            'width': 250,
            'height': 95
        });

        const radio = document.querySelector(".musesStyleReset");
        const radioNav = document.querySelector("#radio-nav");

        radioNav.appendChild(radio);

    </script>

    <script>
        $(document).ready(function () {
            if ($('#ProvinciaID').length) {
                $('#ProvinciaID').change(function () {
                    $.ajax({
                        type: "GET",
                        traditional: true,
                        async: false,
                        cache: false,
                        url: '/Clientes/getLocalidades',
                        data: {
                            ProvinciaId: $('#ProvinciaID').val()
                        },
                        dataType: 'json',
                        success: function (data) {
                            $('#LocalidadId').empty();
                            $.each(data, function (i, data) {
                                $("#LocalidadId").append('<option value="'
                                    + data.ID + '">'
                                    + data.Descripcion + '</option>');
                            });
                        },
                        error: function (ex) {
                            alert('Ocurrio un Error, Por Favor intente nuevamente mas tarde.');
                        }
                    });
                });
            }

            // Function to clear all dabs from the card
            function cleanCard() {
                $('td').css('background-color', 'rgb(119, 119, 119)');
            }

            // Clear all dabs from the card when clicking the "#cleanCard" button
            $('#cleanCard').click(function (e) {
                e.preventDefault();
                cleanCard();
            });

            // When clicking a 'td' element, (1) add/remove the 'dabbed' class, (2) add/remove its id to/from the isDabbed array, and (3) run a check for bingos
            $('td').click(function () {
                var fondo = $(this).css("background-color");
                if (fondo == "rgb(224, 191, 29)") {
                    $(this).css('background-color', 'rgb(119, 119, 119)');
                } else {
                    $(this).css('background-color', 'rgb(224, 191, 29)');
                }
                //var trevol = $(this).data("trevol");
                //if ($(trevol).is(":visible")) {
                //    $(trevol).hide();
                //} else {
                //    $(trevol).show();
                //}
            });

            $('.tabCarton').click(function () {
                var tab = $(this).data('first-tab');
                $('#CartonesInteractivos > .tab-pane').removeClass('active');
                $('#CartonesInteractivos > .tab-pane').removeClass('in');
                $('#' + tab).addClass('in');
                $('#' + tab).addClass('active');
                $('.SubSorteos').val(tab);
            });

            $('.SubSorteos').change(function () {
                var tab = $(this).val();
                $('#CartonesInteractivos > .tab-pane').removeClass('active');
                $('#CartonesInteractivos > .tab-pane').removeClass('in');
                $('#' + tab).addClass('in');
                $('#' + tab).addClass('active');
            });
        });
    </script>
</body>
</html>
