
@{
    ViewBag.Title = "Exportar Adheridos Cuenta Bancaria";
}

<br />
<nav aria-label="breadcrumb">
    <ol class="breadcrumb background-turquesa3">
        <li class="breadcrumb-item textoBlanco" aria-current="page"><h4>@ViewBag.Title</h4></li>
    </ol>
</nav>
@using (Html.BeginForm("ExportarExcelAdheridosCbu", null, FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="container col-md-12 row">
        <div class="offset-3 col-md-8 row text-center">
            <div class="col-md-4">
                <label><b>Desde:</b></label>
                <input type="date" name="fechaInicio" class="form-control text-center" required />
            </div>
            <div class="col-md-4">
                <label><b>Hasta:</b></label>
                <input type="date" name="fechaFin" class="form-control text-center" required />
            </div>
        </div>
        <div class="col-md-12 text-center">
            <div class="row offset-md-5 col-auto p-1 text-center">
                <div class="margin-botones-formularios">
                    <input type="submit" value="Descargar" class="btn botonPrincipal" />
                </div>
                <div class="offset-sm-2 margin-botones-formularios">
                    @Html.ActionLink("Volver", "Index", null, new { @class = "btn botonPrincipal" })
                </div>
            </div>
        </div>
    </div>
}
