
@{
    ViewBag.Title = "Index";
}

<br />
<nav aria-label="breadcrumb">
    <ol class="breadcrumb background-turquesa3">
        <li class="breadcrumb-item textoBlanco" aria-current="page"><h4>Exportar</h4></li>
    </ol>
</nav>
<div class="page-content">
    <div id="tab-general">
        <div class="row">
            <div class="col-sm-6">
                <a href="@Url.Action("ExportarClientes","Exportar")" class="TextoHome text-decoration-none">
                    <div class="panel card background-turquesa2">
                        <div class="card-body">
                            <p class="icon iconoPanel">
                                <i class="icon fa fa-file-export"></i>
                            </p>
                            <h4 class="card-title">ASOCIADOS</h4>
                            <p class="card-text">INGRESAR</p>
                            <div class="progress progress-sm">
                                <div class="progress-bar progress-bar-turquesa" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <br />
            <div class="col-sm-6">
                <a href="@Url.Action("ExportarCompras","Exportar")" class="TextoHome text-decoration-none">
                    <div class="panel card background-turquesa2">
                        <div class="card-body">
                            <p class="icon iconoPanel">
                                <i class="icon fa fa-file-export"></i>
                            </p>
                            <h4 class="card-title">COMPRAS</h4>
                            <p class="card-text">INGRESAR</p>
                            <div class="progress progress-sm">
                                <div class="progress-bar progress-bar-turquesa" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-sm-6">
                <a href="@Url.Action("ExportarAdheridosTarjeta","Exportar")" class="TextoHome text-decoration-none">
                    <div class="panel card background-turquesa2">
                        <div class="card-body">
                            <p class="icon iconoPanel">
                                <i class="icon fa fa-file-export"></i>
                            </p>
                            <h4 class="card-title">ADHERIDOS TARJETA DE CREDITO</h4>
                            <p class="card-text">INGRESAR</p>
                            <div class="progress progress-sm">
                                <div class="progress-bar progress-bar-turquesa" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <br />
            <div class="col-sm-6">
                <a href="@Url.Action("ExportarAdheridosCbu","Exportar")" class="TextoHome text-decoration-none">
                    <div class="panel card background-turquesa2">
                        <div class="card-body">
                            <p class="icon iconoPanel">
                                <i class="icon fa fa-file-export"></i>
                            </p>
                            <h4 class="card-title">ADHERIDOS CUENTA BANCARIA</h4>
                            <p class="card-text">INGRESAR</p>
                            <div class="progress progress-sm">
                                <div class="progress-bar progress-bar-turquesa" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>



