
@{
    ViewBag.Title = "ElegirCarton";
}

<div class="col-md-12">
    <h1 class="mt-4 text-center"><b>Elija el Número de Solicitud</b></h1>
    <br><br>
    <h3><b>Paso 1: Ingresá el Vendedor</b></h3>
    Si la compra es inducida a través de un Vendedor, debe ingresar el código del vendedor. En caso contrario deje el campo vacio.
    <br><br>
    @using (Html.BeginForm("ReservarCarton", "Compras", FormMethod.Post))
    {
        <div class="form-group row">
            <label for="name" class="col-md-4 col-form-label text-md-right"><b>INGRESÁ AQUÍ EL CÓDIGO DEL VENDEDOR</b></label>
            <div class="col-md-6">
                <input id="CodigoVendedor" type="text" class="form-control" name="CodigoVendedor" @*value="0"*@ autofocus style="color:#000;border:1px solid #000">
            </div>
        </div>
        <br>
        <h3><b>Paso 2: Elegí tu Número de Solicitud de la Suerte</b></h3>
        <span>Para elegir el número podes utilizar el trébol de la suerte o bien podés ingresar un número de tu preferencia.</span>
        <br><br>
        <div class="row">
            <div class="col-md-6">
                <table border="1" width="100%" style="min-height:750px">
                    <tr>
                        <td class="text-center">
                            <br>

                            <h1><b>Trébol de la Suerte</b></h1>

                            <b>
                                PRESIONA EL BOTÓN Y OBTENÉ TU NÚMERO <BR>DE SOLICITUD DE LA SUERTE<b />


                                <a href="#" id="sortearNumero" class="btn btn-primary">OBTENER NÚMERO DE LA SUERTE</a>
                                <span id="numeroSorteado" style="position:absolute;top:57.5%;left:38%;font-size:40px;color:#fff;padding:5px 10px;"></span>
                                <br><br>

                                <img style="background-color:#000" src="~/assets/img/trebol.png">

                                <br><br>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="col-md-6">
                <table border="1" width="100%" style="min-height:750px">
                    <tbody>
                        <tr>
                            <td class="text-center">

                                <br>

                                <h1><b>Buscá tu Número de la Suerte</b></h1>


                                <div class="form-group row">

                                    <label for="name" class="col-md-12 col-form-label text-md-center"><b>INGRESÁ UN NÚMERO, SI ESTÁ DISPONIBLE,<br> YA ES TUYO!!</b></label>
                                    <br><br>
                                    <div class="row">
                                        <div class="col-md-2"></div>
                                        <div class="col-md-8 text-center">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <select name="SearchType" id="SearchType" class="form-control" style="color:#000;border:1px solid #000">
                                                        <option value="2">
                                                            Que Termine en (Ej: 25)
                                                        </option>
                                                        <option value="1">
                                                            Que Contenga (Ej: 17896)
                                                        </option>
                                                    </select>
                                                </div>
                                                <br><br><br>
                                                <div class="col-md-12">
                                                    <input type="text" class="form-control" name="SearchString" id="SearchString" placeholder="Ingresá tu número" style="color:#000;border:1px solid #000">
                                                </div>
                                            </div>
                                            <br><br>
                                            <a href="#" id="BtnBuscarCarton" class="btn btn-primary">BUSCAR NÚMERO DE LA SUERTE</a>
                                        </div>
                                        <div class="col-md-2"></div>
                                    </div>
                                    <div class="row" style="max-height:200px;overflow-y:scroll;overflow-x:hidden;padding:30px;width:100%">
                                        <input type="hidden" name="SolicitudId" id="SolicitudId" />
                                        <div class="text-center" id="ResultadosBuscarCartones" style="padding:10px;">

                                        </div>
                                    </div>
                                    <br><br>
                                </div>
                                <br><br>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="mt-4">
            <div class="form-group row">
                <div class="col-md-12 text-center">
                    <input type="submit" class="btn btn-primary" value="CONFIRMAR COMPRA" />
                </div>
            </div>
        </div>
        <br><br>
    }

</div>

<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script>
    function initialize() {
        function obtenerNumeros() {

            var SearchType = $('#SearchType').val();
            var SearchString = $('#SearchString').val();

            $.ajax({
                type: "POST",
                traditional: true,
                async: false,
                cache: false,
                url: '/Compras/ObtenerNumeros',
                data: {
                    SearchType: SearchType,
                    SearchString: SearchString
                },
                dataType: 'json',
                success: function (data) {
                    $('#ResultadosBuscarCartones').empty();
                    if (!$.trim(data)) {
                        $('#ResultadosBuscarCartones').append('<h3>No hay resultados para la busqueda</h3>');
                    }
                    else {
                        $.each(data, function (index, value) {
                            $('#ResultadosBuscarCartones').append('<a class="btn btn btn-primary BtnSeleccionarCarton" style="color:white" data-id="' + value.ID + '" data-numero="' + value.NroSolicitud + '">' + value.NroSolicitud + '</a>');
                        });


                        $('.BtnSeleccionarCarton').click(function (e) {
                            e.preventDefault();

                            var id = $(this).data("id");
                            var numero = $(this).data("numero");

                            $.ajax({
                                type: "POST",
                                traditional: true,
                                async: false,
                                cache: false,
                                url: '/Compras/GetReserva',
                                data: {
                                    id: id
                                },
                                dataType: 'json',
                                success: function (data) {
                                    //if (data == false) {
                                        /***********************/
                                        $('#SolicitudId').val(id);
                                        $('#numeroSorteado').text(numero);

                                        /***********************/

                                        //roulette.start(pad(numero,5));

                                        /***********************/
                                    //} else if (data == true) {
                                        /***********************/
                                        //$('#NumeroCarton').val("");
                                        //$('a[data-id="' + id + '"]').remove();
                                        //roulette.reset();
                                        /***********************/
                                    //}
                                },
                                error: function (ex) {
                                    alert('Error, por favor intente mas tarde.');
                                }
                            });
                        });
                    }

                },
                error: function (ex) {
                    alert('Error, por favor intente mas tarde.');
                }
            });
        }

        $('#BtnBuscarCarton').click(function (e) {
            e.preventDefault();
            obtenerNumeros();
        });

        function SortearNumero() {
            $.ajax({
                type: "POST",
                traditional: true,
                async: false,
                cache: false,
                url: '/Compras/SortearNumero',
                data: {
                    SearchType: SearchType,
                    SearchString: SearchString
                },
                dataType: 'json',
                success: function (data) {
                    $('#SolicitudId').val(data.ID);
                    $('#numeroSorteado').text(data.NroSolicitud);
                },
                error: function (ex) {
                    alert('Error, por favor intente mas tarde.');
                }
            })
        }

        $('#sortearNumero').click(function (e) {
            e.preventDefault();
            SortearNumero();
        });
    }

    initialize();
</script>