
@{
    ViewBag.Title = "ElegirCarton";
}

<div class="col-md-12">
    <h1 class="mt-4 text-center"><b>Elija el Número de Solicitud</b></h1>
    <br><br>
    <h3><b>Paso 1: Ingresá el Vendedor</b></h3>
    Si la compra es inducida a través de un Vendedor, debe ingresar el código del vendedor. En caso contrario debe ingresar el código 0.
    <br><br>
    @using (Html.BeginForm("ReservarCarton", "Compras", FormMethod.Post))
    {
        <div class="form-group row">
            <label for="name" class="col-md-4 col-form-label text-md-right"><b>INGRESÁ AQUÍ EL CÓDIGO DEL VENDEDOR</b></label>
            <div class="col-md-6">
                <input id="CodigoVendedor" type="text" class="form-control" name="CodigoVendedor" value="" required autofocus>
            </div>
        </div>
        <br>
        <h3><b>Paso 2: Elegí tu Número de Solicitud de la Suerte</b></h3>
        <span>Para elegir el número de solcitud podes utilizar el trébol de la suerte o bien podés ingresar un número de tu preferencia.</span>
        <br><br>
        <div class="row">
            <div class="col-md-12">
                <table border="1" width="100%">
                    <tr>
                        <td class="text-center">
                            <br>
                            <h1><b>Trébol de la Suerte</b></h1>
                            <b>
                                ELEGÍ AQUÍ TU NÚMERO DE SOLICITUD DE LA SUERTE<b />
                                <br><br>
                                <img src="assets/img/trebol.jpg" width="100%">
                                <br><br>
                                <input type="submit" class="btn btn-primary" value="ELEGIR NÚMERO">
                                <br><br>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-12">
                <table border="1" width="100%">
                    <tr>
                        <td class="text-center">
                            <br>
                            <h1><b>BUSCA TU NUMERO DE LA SUERTE</b></h1>
                            <div class="row">
                                <div class="col-md-2">
                                    <label for="NumeroCarton">Buscar Nro que </label>
                                </div>
                                <div class="col-md-4">
                                    <select class="form-control" name="SearchType" id="SearchType">
                                        <option value="2">Termine con:</option>
                                        <option value="1">Contenga:</option>
                                    </select>
                                </div>
                                <div class="col-md-4">
                                    <input type="text" class="form-control" name="SearchString" id="SearchString" />
                                </div>
                                <div class="col-md-2">
                                    <a href="#" id="BtnBuscarCarton" class="btn btn-primary btn-block">BUSCAR</a>
                                </div>
                            </div>
                            <hr />
                            <div class="row" style="max-height:200px;overflow-y:scroll;overflow-x:hidden;padding:20px">
                                <div class="text-center" id="ResultadosBuscarCartones" style="padding:10px;">

                                </div>
                            </div>
                            <br><br>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="card-text">
            <div class="form-group" style="overflow:visible">
                <input type="hidden" name="SolicitudId" id="SolicitudId" />
            </div>
        </div>
        <br><br>
        <div class="mt-4">
            <div class="form-group row">
                <div class="col-md-12 text-center">

                    <input type="submit" class="btn btn-primary" value="CONFIRMAR COMPRA" />
                    @*<a href="resumen_compra.html" class="btn btn-primary">CONFIRMAR COMPRA</a>*@

                </div>
            </div>
        </div>
    }

</div>

<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script>
    function initialize() {
        function obtenerNumeros() {

            var SearchType = $('#SearchType').val();
            var SearchString = $('#SearchString').val();

            $.ajax({
                type: "POST",
                traditional: true,
                async: false,
                cache: false,
                url: '/Compras/ObtenerNumeros',
                data: {
                    SearchType: SearchType,
                    SearchString: SearchString
                },
                dataType: 'json',
                success: function (data) {
                    $('#ResultadosBuscarCartones').empty();
                    if (!$.trim(data)) {
                        $('#ResultadosBuscarCartones').append('<h3>No hay resultados para la busqueda</h3>');
                    }
                    else {
                        $.each(data, function (index, value) {
                            $('#ResultadosBuscarCartones').append('<a class="btn btn btn-primary BtnSeleccionarCarton" style="color:white" data-id="' + value.ID + '">' + value.NroCarton + '</a>');
                        });


                        $('.BtnSeleccionarCarton').click(function (e) {
                            e.preventDefault();

                            var id = $(this).data("id");
                            var numero = $(this).text();

                            $.ajax({
                                type: "POST",
                                traditional: true,
                                async: false,
                                cache: false,
                                url: '/Compras/GetReserva',
                                data: {
                                    id: id
                                },
                                dataType: 'json',
                                success: function (data) {
                                    if (data == false) {
                                        /***********************/
                                        $('#SolicitudId').val(id);

                                        /***********************/

                                        //roulette.start(pad(numero,5));

                                        /***********************/
                                    } else if (data == true) {
                                        /***********************/
                                        //$('#NumeroCarton').val("");
                                        //$('a[data-id="' + id + '"]').remove();
                                        //roulette.reset();
                                        /***********************/
                                    }
                                },
                                error: function (ex) {
                                    alert('Error, por favor intente mas tarde.');
                                }
                            });
                        });
                    }

                },
                error: function (ex) {
                    alert('Error, por favor intente mas tarde.');
                }
            });
        }

        $('#BtnBuscarCarton').click(function (e) {
            e.preventDefault();
            obtenerNumeros();
        });
    }

    initialize();
</script>