
@{
    ViewBag.Title = "Index";
}

<div class="col-md-12">
    <div class="row">
        <div class="col-md-12">
            <h1 class="mt-4 text-center"><b>ELEGÍ LA FORMA DE PAGO</b></h1>
            <br><br>
            @using (Html.BeginForm())
            {
                <div class="row">
                    <div class="col-md-12">
                        <h4 class="text-center"><b>SELECCIONÁ LA FORMA DE PAGO Y CONFIRMÁ LA COMPRA</b></h4>
                        <br>
                        <h3><b>EN UN PAGO</b></h3>
                        <br>
                        <div class="row">
                            <div class="col-md-12">
                                <h5>
                                    <input type="radio" value="1" id="squaredOne" name="TipoDePago" checked style="height: 20px; width: 5%;" />
                                    <b>EN 1 PAGO DE $@ViewBag.Carton.Precio</b> (Tarjeta de Crédito / Débito / Rapipago / Pago Fácil)
                                </h5>
                            </div>
                        </div>
                        <br>
                        <h3><b>EN PLAN DE CUOTAS</b></h3>
                        <br>
                        <div class="row">
                            <div class="col-md-12">
                                <h5>
                                    <input type="radio" value="None" id="squaredTwo" name="check" style="height: 20px; width: 5%;" />
                                    <b>PLAN DE CUOTAS CON DÉBITO AUTOMÁTICO</b>
                                </h5>
                            </div>
                            <div class="col-md-1">

                            </div>
                            <div class="col-md-11">
                                <div id="PagoDebitoAutomatico" style="display:none;">
                                    <h4 style="display:inline-block;margin-right:20px">Elegí el Número de Cuotas:</h4>
                                    <select name="CantCuotas" id="CantCuotas" style="display:inline-block">
                                        @foreach (var item in ViewBag.Cuotas)
                                        {
                                            <option value="@item.key">@item.value</option>
                                        }
                                    </select>
                                    <br>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <h4>
                                                Elegí si lo haces con tarjeta de credito o con CBU.
                                            </h4>
                                        </div>
                                        <div class="col-md-1"></div>
                                        <div class="col-md-11">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <input type="radio" value="3" name="TipoDePago" id="DebitoConTarjeta" style="height: 20px; width: 5%;"> <B>CON TARJETA DE CRÉDITO</B>
                                                </div>
                                                <div class="col-md-12" id="adhesionTarjeta" style="display:none">
                                                    <div class="col-md-2"></div>
                                                    <div class="col-md-10">
                                                        <label>Número de la Tarjeta (sólo números)</label>
                                                        <input type="text" minlength="16" maxlength="16" pattern="\d*" class="form-control" id="card_number" name="card_number" />
                                                        <br>

                                                        <label>Nombre del Titular de la Tarjeta</label>
                                                        <input type="text" class="form-control" id="card_holder_name" name="card_holder_name" />
                                                        <br>
                                                    </div>
                                                </div>
                                                <br>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <input type="radio" value="2" name="TipoDePago" id="DebitoConCbu" style="height: 20px; width: 5%;"> <B>CON CBU</B>
                                                </div>
                                                <div class="col-md-12" id="adhesionCBU" style="display:none">
                                                    <div class="col-md-2"></div>
                                                    <div class="col-md-10">
                                                        <label>Número de CBU (sólo números)</label>
                                                        <input type="text" minlength="22" maxlength="22" pattern="\d*" class="form-control" name="cbu_number" id="cbu_number">
                                                        <br>

                                                        <label>Nombre del Titular de la Cuenta Bancaria</label>
                                                        <input type="text" class="form-control" name="adhesion_holder_name" id="adhesion_holder_name">
                                                        <br>

                                                        <label>Ingrese el CUIL del Titular (sólo números)</label>
                                                        <input type="text" class="form-control" minlength="11" maxlength="11" pattern="\d*" name="cbu_holder_id_number" id="cbu_holder_id_number">
                                                        <br>
                                                    </div>
                                                </div>
                                                <br>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="mt-4">
                    <div class="form-group row">
                        <div class="col-md-12 text-center">
                            <input type="checkbox" value="true" class="btn btn-primary" required name="CheckTerminosYCondiciones" />
                            <b>Acepto los <a target="_blank" href="@Url.Action("TerminosYCondiciones","Compras")">Terminos Y Condiciones</a></b>
                        </div>
                    </div>
                </div>
                <div class="mt-4">
                    <div class="form-group row">
                        <div class="col-md-12 text-center">
                            <input type="submit"  value="ASOCIARSE" class="btn btn-primary" />
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>


</div>