
@{
    ViewBag.Title = "PagoRealizado";
}

<div class="col-md-12">
    <div class="row">
        <div class="col-md-12">
            <h1 class="mt-4 text-center"><b>COMPRA REALIZADA CON ÉXITO</b></h1>
            <br />
            <div class="row">
                <div class="col-md-6 offset-md-3">
                    <br />
                    <p>
                        <a href="@Url.Action("ListadoSolicitudes","Compras")" class="btn btn-primary btn-block">MIS SOLICITUDES</a>
                    </p>
                </div>
            </div>
            <br />          
            <br /><br />
        </div>
    </div>
</div>

