
@{
    ViewBag.Title = "TerminosYCondiciones";
}

<div class="col-md-12">
    <div class="row">
        <div class="col-md-12">
            <h1 class="mt-4 text-center"><b>REGLAMENTO BASES Y CONDICIONES PLAN ANUAL SOCIETARIO LA GRAN PROMOCION  2022</b></h1>
            <div class="col-md-12 row">
                <p>
                    ARTICULO 1: La Sociedad Cosmopolita de Socorros Mutuos, en adelante “La Mutual”, es una entidad de bien público que
                    organiza e implementa esta promoción anual societaria, y, quienes adhieran a ella, y con el único requisito de abonar
                    la cuota societaria correspondiente, revestirán el carácter de asociado a “La Mutual”, implicando ello el pleno
                    conocimiento y aceptación del presente reglamento y bases de esta promoción. Esta campaña, que llevará el nombre de
                    “PLAN ANUAL LA GRAN PROMOCION” tendrá como período de duración y vigencia, desde el 01 de febrero de 2022 hasta el 31
                    de diciembre de 2022, siempre que el asociado abone el monto total de las cuotas societarias anuales antes de la fecha
                    de cierre establecida para el día 15 de diciembre de 2022.-
                </p>
                <p>
                    ARTICULO 2: <b><u>FINALIDAD:</u></b> esta promoción tendrá como única finalidad la ampliación de los servicios que presta “La Mutual”,
                    y/o la mejora de los existentes, procurando incrementar la masa societaria o al menos conservarla, pero siempre buscando
                    una interrelación entre “La Mutual” y los asociados que permita una amplia y fiel relación institucional, basada en los
                    principios solidarios del mutualismo
                </p>
                <p>
                    ARTÍCULO 3: <b><u>Adhesión y servicios:</u></b> “La Mutual” será el ente emisor de fichas de adhesión de asociados.
                    Quienes se adhieran, además del derecho de participar en los sorteos del Plan Anual Societario gozarán de los siguientes
                    beneficios:
                    <br />
                    a) Participación de cursos, jornadas y talleres de perfeccionamiento y capacitación; servicio de ayuda
                    económica en la localidad de Devoto, La Francia, Colonia San Bartolomé, Luque, Arroyito , Alejandro Roca, Las Acequias,
                    El Arañado y San Francisco ofreciendo financiaciones especialmente para la compra de electrodomésticos, bienes muebles,
                    automóviles, turismo a nivel nacional e internacional; servicio de guardería para niños “Plumitas Rojas” ubicada en calle
                    Sarmiento 150 de la localidad de Devoto provincia de Córdoba; academia de idiomas que funciona en calle Sarmiento 160 de
                    la localidad de Devoto provincia de Córdoba; becas y créditos para estudiantes que cursan niveles terciarios; uso del
                    salón social para la realización de eventos sociales como casamientos, cumpleaños, aniversarios, ubicados en Bv. 25 de
                    mayo 517 y Alte. Brown 100 ambos de la localidad de Devoto provincia de Córdoba; construcción de viviendas por sistema de
                    plan de ahorro en lotes propios o lotes vendidos por la Entidad; organización de actividades sociales como fiestas
                    patronales, día del mutualismo y cooperativismo, estudiantinas, espectáculos musicales y teatrales, actividades
                    deportivas y recreativas, campeonatos  de futbol amateurs, encuentros de fútbol infantil, básquet, vóley, tenis, bochas,
                    natación; descuento en farmacias adheridas;  y de cualquier otro servicio que la entidad tenga implementado o implemente
                    en el período que dure la promoción.
                    Todos los servicios mencionados se regirán por los reglamentos vigentes en la entidad y aprobados por asamblea e
                    inscriptos ante el organismo de control (INAES).
                    <br />
                    b) Entrada preferencial: Para presenciar en las instalaciones de Sociedad Sportiva Devoto (entidad con la cual “La
                    Mutual” tiene un convenio de prestación de servicios y utilización de instalaciones) las siguientes competencias
                    deportivas: gimnasia, ajedrez, fútbol, básquet, tenis, bochas y vóley.
                    <br />
                    c) Entrada libre: para participar en las instalaciones de Sociedad Sportiva Devoto de las siguientes disciplinas
                    deportivas: gimnasia, ajedrez, fútbol, básquet, tenis, bochas y vóley.
                    <br />
                    d) Cuota preferencial: en la temporada de verano los asociados activos suscriptos al Plan Societario Anual abonan con
                    un descuento del 35% la cuota adicional para la utilización de la pileta de natación.
                    <br />
                    e) Quedan totalmente fuera de la posibilidad de ser asociados titulares a la promoción todas las personas físicas  menores de
                    18 años.
                </p>
                <p>
                    ARTICULO 4: <b><u>Formas de pago:</u></b> El Consejo o quien éste autorice, analizará la solicitud del asociado cuyos
                    datos figuran en la ficha correspondiente y una vez aceptada, el asociado, podrá acceder a los servicios y beneficios
                    detallados en el artículo 3 siempre que tenga la cuota social al día,  pudiendo optar por las siguientes formas de pago:
                    1) Pago en cuotas  (10 cuotas de $ 850.- (SON PESOS: OCHOCIENTOS CINCUENTA) con vencimiento, 15/02/2022, 15/03/2022,
                    15/04/2022, 15/05/2022, 15/06/2022, 15/07/2022, 15/08/2022, 15/09/2022, 15/10/2022, 15/11/2022) 2) Pagos anticipados,
                    entendiéndose como pagos anticipados cuando el asociado haya cumplimentado el pago total de las cuotas 
                    ($ 8.500.- SON PESOS: OCHO MIL QUINIENTOS) hasta el día 15 de julio de 2022  inclusive.
                </p>
                <p>
                    ARTICULO 5: Sorteos: Los sorteos mencionados en los artículos 6,7,8,9 y 10 se efectúan de la manera establecida en dichos 
                    artículos, siendo la más importante la que prevé el sorteo de 71 premios distribuidos en 63 premios en efectivo por un
                    total de $ 33.000.000.- SON PESOS: TREINTA Y TRES MILLONES) Y 8 AUTOS distribuidos de la siguiente manera:
                    <ul>
                        <li>21º Sorteo - 1º Premio - FORD TERRITORY</li>
                        <li>20º Sorteo - 2º Premio - $4.000.000 en efectivo</li>
                        <li>19º Sorteo - 3º Premio - 1 CITROEN C4 CACTUS LIVE</li>
                        <li>18º Sorteo - 4º Premio - 1 VOLKSWAGEN T-CROSS 1.6 MSI TRENDLINE</li>
                        <li>17º Sorteo - 5º Premio - $3.000.000 en efectivo</li>
                        <li>16º Sorteo - 6º Premio - $2.000.000 en efectivo</li>
                        <li>15º Sorteo - 7º Premio - 1 FIAT CRONOS ATTRACTIVE</li>
                        <li>14º Sorteo - 8º Premio - 1 FIAT CRONOS ATTRACTIVE</li>
                        <li>13º Sorteo - 9º Premio - 1 FIAT CRONOS ATTRACTIVE</li>
                        <li>12º Sorteo - 10º Premio - 1 FIAT CRONOS ATTRACTIVE</li>
                        <li>11ª Sorteo - 11º Premio - 1 FIAT CRONOS ATTRACTIVE</li>
                        <li>
                            10ª Sorteo Múltiple - 12º Premio - $1.500.000 en efectivo<br />
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            5 Premios - $500.000 en efectivo c/u
                        </li>
                        <li></li>
                    </ul>
                </p>
            </div>
            <br />
        </div>
    </div>
</div>
