
@{
    ViewBag.Title = "TerminosYCondiciones";
}

<div class="col-md-12">
    <div class="row">
        <div class="col-md-12">
            <h1 class="mt-4 text-center"><b>REGLAMENTO BASES Y CONDICIONES PLAN ANUAL SOCIETARIO LA GRAN PROMOCION 2022</b></h1>
            <div>
                <p>
                    <strong>ARTICULO 1:</strong>
                    La Sociedad Cosmopolita de Socorros Mutuos, en adelante “La Mutual”, es una entidad de bien público que organiza e implementa esta promoción anual societaria, y, quienes adhieran a ella, y con el único requisito de abonar la cuota societaria correspondiente, revestirán el carácter de asociado a “La Mutual”, implicando ello el pleno conocimiento y aceptación del presente reglamento y bases de esta promoción. Esta campaña, que llevará el nombre de “PLAN ANUAL LA GRAN PROMOCION” tendrá como período de duración y vigencia, desde el 01 de febrero de 2022 hasta el 31 de diciembre de 2022, siempre que el asociado abone el monto total de las cuotas societarias anuales antes de la fecha de cierre establecida para el día 15 de diciembre de 2022.-
                </p><p>
                    <strong>ARTICULO 2: FINALIDAD:</strong>
                    esta promoción tendrá como única finalidad la ampliación de los servicios que presta “La Mutual”, y/o la mejora de los existentes, procurando incrementar la masa societaria o al menos conservarla, pero siempre buscando una interrelación entre “La Mutual” y los asociados que permita una amplia y fiel relación institucional, basada en los principios solidarios del mutualismo.
                </p>
                <p>
                    <strong>ARTÍCULO 3: Adhesión y servicios:</strong>
                    “La Mutual” será el ente emisor de fichas de adhesión de asociados. Quienes se adhieran, además del derecho de participar en los sorteos del Plan Anual Societario gozarán de los siguientes beneficios: a) Participación de cursos, jornadas y talleres de perfeccionamiento y capacitación; servicio de ayuda económica en la localidad de Devoto, La Francia, Colonia San Bartolomé, Luque, Arroyito , Alejandro Roca, Las Acequias, El Arañado y San Francisco ofreciendo financiaciones especialmente para la compra de electrodomésticos, bienes muebles, automóviles, turismo a nivel nacional e internacional; servicio de guardería para niños “Plumitas Rojas” ubicada en calle Sarmiento 150 de la localidad de Devoto provincia de Córdoba; academia de idiomas que funciona en calle Sarmiento 160 de la localidad de Devoto provincia de Córdoba; becas y créditos para estudiantes que cursan niveles terciarios; uso del salón social para la realización de eventos sociales como casamientos, cumpleaños, aniversarios, ubicados en Bv. 25 de mayo 517 y Alte. Brown 100 ambos de la localidad de Devoto provincia de Córdoba; construcción de viviendas  por sistema de plan de ahorro en lotes propios o lotes vendidos por la Entidad; organización de actividades sociales como fiestas patronales, día del mutualismo y cooperativismo, estudiantinas, espectáculos musicales y teatrales, actividades deportivas y recreativas, campeonatos  de futbol amateurs, encuentros de fútbol infantil, básquet, vóley, tenis, bochas, natación; descuento en farmacias adheridas;  y de cualquier otro servicio que la entidad tenga implementado o implemente en el período que dure la promoción.
                </p>
                <p>
                    a) Participación de cursos, jornadas y talleres de perfeccionamiento y capacitación; servicio de ayuda económica en la localidad de Devoto, La Francia, Colonia San Bartolomé, Luque, Arroyito , Alejandro Roca, Las Acequias, El Arañado y San Francisco ofreciendo financiaciones especialmente para la compra de electrodomésticos, bienes muebles, automóviles, turismo a nivel nacional e internacional; servicio de guardería para niños “Plumitas Rojas” ubicada en calle Sarmiento 150 de la localidad de Devoto provincia de Córdoba; academia de idiomas que funciona en calle Sarmiento 160 de la localidad de Devoto provincia de Córdoba; becas y créditos para estudiantes que cursan niveles terciarios; uso del salón social para la realización de eventos sociales como casamientos, cumpleaños, aniversarios, ubicados en Bv. 25 de mayo 517 y Alte. Brown 100 ambos de la localidad de Devoto provincia de Córdoba; construcción de viviendas  por sistema de plan de ahorro en lotes propios o lotes vendidos por la Entidad; organización de actividades sociales como fiestas patronales, día del mutualismo y cooperativismo, estudiantinas, espectáculos musicales y teatrales, actividades deportivas y recreativas, campeonatos  de futbol amateurs, encuentros de fútbol infantil, básquet, vóley, tenis, bochas, natación; descuento en farmacias adheridas;  y de cualquier otro servicio que la entidad tenga implementado o implemente en el período que dure la promoción.
                </p>
                <p>
                    Todos los servicios mencionados se regirán por los reglamentos vigentes en la entidad y aprobados por asamblea e inscriptos ante el organismo de control (INAES).
                </p>
                <p>

                    b) Entrada preferencial: Para presenciar en las instalaciones de Sociedad Sportiva Devoto (entidad con la cual “La Mutual” tiene un convenio de prestación de servicios y utilización de instalaciones) las siguientes competencias deportivas: gimnasia, ajedrez, fútbol, básquet, tenis, bochas y vóley.
                </p>
                <p>
                    c) Entrada libre: para participar en las instalaciones de Sociedad Sportiva Devoto de las siguientes disciplinas deportivas: gimnasia, ajedrez, fútbol, básquet, tenis, bochas y vóley.
                </p>
                <p>
                    d) Cuota preferencial: en la temporada de verano los asociados activos suscriptos al Plan Societario Anual abonan con un descuento del 35% la cuota adicional para la utilización de la pileta de natación.
                </p>
                <p>
                    e) Quedan totalmente fuera de la posibilidad de ser asociados titulares a la promoción todas las personas físicas  menores de 18 años.
                </p>
                <p>
                    <strong>ARTICULO 4: Formas de pago:</strong>
                    El Consejo o quien éste autorice, analizará la solicitud del asociado cuyos datos figuran en la ficha correspondiente y una vez aceptada, el asociado, podrá acceder a los servicios y beneficios detallados en el artículo 3 siempre que tenga la cuota social al día,  pudiendo optar por las siguientes formas de pago: 1) Pago en cuotas  (10 cuotas de $ 850.- (SON PESOS: OCHOCIENTOS CINCUENTA) con vencimiento, 15/02/2022, 15/03/2022, 15/04/2022, 15/05/2022, 15/06/2022, 15/07/2022, 15/08/2022, 15/09/2022, 15/10/2022, 15/11/2022) 2) Pagos anticipados, entendiéndose como pagos anticipados cuando el asociado haya cumplimentado el pago total de las cuotas ($ 8.500.- SON PESOS: OCHO MIL QUINIENTOS) hasta el día 15 de julio de 2022  inclusive.
                </p>
                <p>
                    <strong>ARTICULO 5: Sorteos:</strong>
                    Los sorteos mencionados en los artículos 6,7,8,9 y 10 se efectúan de la manera establecida en dichos artículos, siendo la más importante la que prevé el sorteo de 71 premios distribuidos en 63 premios en efectivo por un total de $ 33.000.000.- SON PESOS: TREINTA Y TRES MILLONES) Y 8 AUTOS distribuidos de la siguiente manera:
                </p>
                <p>
                    <b>21º Sorteo	1º Premio	FORD TERRITORY</b>
                </p>
                <p>
                    <b>20º Sorteo	2º Premio	$ 4.000.000.- en efectivo</b>
                </p>
                <p>
                    <b>19º   Sorteo		3º Premio	1 CITROEN C4 CACTUS LIVE</b>
                </p>
                <p>
                    <b>18º   Sorteo		4º Premio	1 VOLKSWAGEN T-CROSS 1.6 MSI TRENDLINE</b>
                </p>
                <p>
                    <b>17º Sorteo		5º Premio	$ 3.000.000.- en efectivo</b>
                </p>
                <p>
                    <b>16º Sorteo		6º Premio	$ 2.000.000.- en efectivo</b>
                </p>
                <p>
                    <b>15º Sorteo 		7º Premio	1 FIAT CRONOS ATTRACTIVE </b>
                </p>
                <p>
                    <b>14º Sorteo 		8º Premio	1 FIAT CRONOS ATTRACTIVE </b>
                </p>
                <p>
                    <b>13º Sorteo 		9º Premio	1 FIAT CRONOS ATTRACTIVE </b>
                </p>
                <p>
                    <b>12º Sorteo		10º Premio	1 FIAT CRONOS ATTRACTIVE </b>
                </p>
                <p>
                    <b>11ª Sorteo		11º Premio	1 FIAT CRONOS ATTRACTIVE </b>
                </p>
                <p>
                    <b>10ª Sorteo Múltiple	12º Premio	$ 1.500.000.- en efectivo</b><br>
                    <b class="pl-8">5 Premios	$ 500.000.- en efectivo c/u</b>
                </p>
                <p>
                    <b>9ª Sorteo Múltiple	13º Premio	$ 1.400.000.- en efectivo</b><br>
                    <b class="pl-8">5 Premios	$ 500.000.- en efectivo c/u</b>
                </p>
                <p>
                    <b>8ª Sorteo Múltiple	14º Premio	$ 1.200.000.- en efectivo</b><br>
                    <b class="pl-8">5 Premios	$ 400.000.- en efectivo c/u</b>
                </p>
                <p>
                    <b>7ª   Sorteo Múltiple	15º Premio	$ 1.000.000.- en efectivo</b><br>
                    <b class="pl-8">5 Premios	$ 400.000.- en efectivo c/u</b>
                </p>
                <p>
                    <b>6º   Sorteo Múltiple	16º Premio	$ 900.000.- en efectivo </b><br>
                    <b class="pl-8">5 Premios 	$ 300.000.- en efectivo c/u</b>
                </p>
                <p>
                    <b>5º Sorteo Múltiple	17º Premio	$ 800.000.- en efectivo</b><br>
                    <b class="pl-8">5 Premios	$ 300.000.- en efectivo c/u</b>
                </p>
                <p>
                    <b>4º Sorteo Múltiple	18º Premio	$ 700.000.- en efectivo </b><br>
                    <b class="pl-8">5 Premios	$ 200.000.- en efectivo c/u</b>
                </p>
                <p>
                    <b>3º Sorteo Múltiple	19º Premio	$ 600.000.- en efectivo </b><br>
                    <b class="pl-8">5 Premios	$ 200.000.- en efectivo c/u</b>
                </p>
                <p>
                    <b>2º Sorteo Múltiple	20º Premio	$ 500.000.- en efectivo  </b><br>
                    <b class="pl-8">5 Premios	$ 100.000.- en efectivo c/u</b>
                </p>
                <p>
                    <b>1º Sorteo Múltiple	21º Premio	$ 400.000.- en efectivo </b><br>
                    <b class="pl-8">5 Premios	$ 100.000.- en efectivo c/u</b>
                </p>
                <p>
                    Dicho sorteo se realizará el 17 de diciembre de 2022 mediante la participación de asociados a través de cartones impresos, en adelante denominado “chequera", con 21 (VEINTIUNA) combinaciones de números de uno o dos cifras (del 01 al 100), en un sorteo ante escribano público, por sistema de extracción de bolillas numeradas.
                </p>
                <p>
                    Los sorteos se realizarán a través de un sistema de bolillero neumático que no requiere la intervención manual y brinda la mayor transparencia al acto. El sistema de impresión de los cartones y seguimiento computarizado de los sorteos permite determinar una sola combinación ganadora. La Entidad incluirá 10 (DIEZ) sorteos múltiples como se indican específicamente en el artículo 8 de este reglamento.
                </p>
                <p>
                    “La Mutual” asume la total responsabilidad por los permisos, licencias o habilitaciones correspondientes por parte de entes oficiales o privados, para la realización de los eventos en la fecha, lugar y horario programados; eximiendo a LOTERIA DE CORDOBA S.E. de toda responsabilidad.
                </p>
                <p>
                    <strong>ARTICULO 6: PREMIOS MENSUALES:</strong>
                    Estos sorteos se llevarán a cabo en instalaciones de Multimedio Devoto sito en calle Bv 25 de mayo 517 de la localidad de Devoto provincia de Córdoba, ante la presencia de escribano público a partir de las 21 hs., por bolillero neumático por sistema de cartones de bingo con único ganador. La provisión de los mismos se hará a través de la página oficial de la promocion www.lagranpromocion.com.ar en cada uno de los sorteos ingresando el DNI y género del asociado, dicho sorteo será emitido en Canal 2 de Multimedio Devoto y por redes sociales. Las fechas establecidas para dichos sorteos son 28-04-22, 26-05-22, 30-06-22, 25-08-22, 29-09-22, 27-10-22 y 24-11-22 y los premios se distribuyen de la siguiente manera:
                </p>
                <p>
                    <strong class="text-uppercase">1 SORTEO MULTIPLE</strong>
                </p>
                <p>
                    <span>1er PREMIO de		$ 100.000.-</span>
                </p>
                <p>
                    <span>2do PREMIO 5 premios 	$ 50.000.- c/u</span>
                </p>
                <p>
                    <span>3er PREMIO 15 premios       $ 30.000.- c/u</span>
                </p>
                <p>
                    <span>3er PREMIO 15 premios       $ 20.000.- c/u</span>
                </p>
                <p>
                    <strong class="text-uppercase">1 SORTEO INDIVIDUAL:</strong>
                </p>
                <p>
                    <span>1er PREMIO 			$ 1.000.000.-</span>
                </p>
                <p>
                    <strong> ARTICULO 7: PREMIO PAGO ANTICIPADO: </strong>
                    El día 4 de AGOSTO  de 2022 con la entrega previa de una combinación de números y por sistema de bingo y con único ganador, se sortearán los premios que se detallan a continuación, participando quienes hayan cancelado el 100% de su cuota anual de $ 8.500.- (SON PESOS: OCHO MIL QUINIENTOS) antes del 15 de julio de 2022 con la presencia de escribano público mediante bolillero neumático en instalaciones del salón social de Sociedad Cosmopolita de Socorros Mutuos a partir de las 21.00 sito en calle Bv. 25 de mayo 517 de la localidad de Devoto provincia de Córdoba, transmitido por canal local de Multimedio Devoto, FM Libertad a través de una app denominada MULTIMEDIO DEVOTO, por redes sociales y  la página oficial de la promoción www.lagranpromocion.com.ar.
                </p>
                <p>
                    <strong class="text-uppercase">1 SORTEO MULTIPLE:</strong>
                </p>
                <p>
                    <span>1er PREMIO	$ 200.000.-</span>
                </p>
                <p>
                    <span>2do PREMIO 4 premios 	$ 100.000.- c/u	</span>
                </p>
                <p>
                    <strong class="text-uppercase">1 SORTEO MULTIPLE:</strong>
                </p>
                <p>
                    <span>1er PREMIO	$ 200.000.-</span>
                </p>
                <p>
                    <span>2do PREMIO 4 premios 	$ 100.000.- c/u	</span>
                </p>
                <p>
                    <strong class="text-uppercase">3 SORTEOS INDIVIDUALES</strong>
                </p>
                <p>
                    <span>1er  1 PREMIO  de		$ 300.000.-</span>
                </p>
                <p>
                    <span>2do 1 PREMIO de		$ 500.000.-</span>
                </p>
                <p>
                    <span>3er  1 PREMIO de		$ 1.000.000.-</span>
                </p>
                <p>
                    <strong>ARTICULO 8: SORTEO FINAL:</strong>
                    Los asociados que hayan abonado el 100% de las cuotas sociales antes del 15 de diciembre de 2022 participarán del sorteo final que se realizará el 17 de diciembre de 2022. Los asociados recibirán una chequera con 21 (VEINTIUNO) cartones de bingo con el que participarán en el sorteo de los siguientes premios:
                </p>
                <p>
                    <b>21º Sorteo	1º Premio	FORD TERRITORY</b>
                </p>
                <p>
                    <b>20º Sorteo	2º Premio	$ 4.000.000.- en efectivo</b>
                </p>
                <p>
                    <b>19º   Sorteo		3º Premio	1 CITROEN C4 CACTUS LIVE</b>
                </p>
                <p>
                    <b>18º   Sorteo		4º Premio	1 VOLKSWAGEN T-CROSS 1.6 MSI TRENDLINE</b>
                </p>
                <p>
                    <b>17º Sorteo		5º Premio	$ 3.000.000.- en efectivo</b>
                </p>
                <p>
                    <b>16º Sorteo		6º Premio	$ 2.000.000.- en efectivo</b>
                </p>
                <p>
                    <b>15º Sorteo 		7º Premio	1 FIAT CRONOS ATTRACTIVE </b>
                </p>
                <p>
                    <b>14º Sorteo 		8º Premio	1 FIAT CRONOS ATTRACTIVE </b>
                </p>
                <p>
                    <b>13º Sorteo 		9º Premio	1 FIAT CRONOS ATTRACTIVE </b>
                </p>
                <p>
                    <b>12º Sorteo		10º Premio	1 FIAT CRONOS ATTRACTIVE </b>
                </p>
                <p>
                    <b>11ª Sorteo		11º Premio	1 FIAT CRONOS ATTRACTIVE </b>
                </p>
                <p>
                    <b>10ª Sorteo Múltiple	12º Premio	$ 1.500.000.- en efectivo</b><br>
                    <b class="pl-8">5 Premios	$ 500.000.- en efectivo c/u</b>
                </p>
                <p>
                    <b>9ª Sorteo Múltiple	13º Premio	$ 1.400.000.- en efectivo</b><br>
                    <b class="pl-8">5 Premios	$ 500.000.- en efectivo c/u</b>
                </p>
                <p>
                    <b>8ª Sorteo Múltiple	14º Premio	$ 1.200.000.- en efectivo</b><br>
                    <b class="pl-8">5 Premios	$ 400.000.- en efectivo c/u</b>
                </p>
                <p>
                    <b>7ª   Sorteo Múltiple	15º Premio	$ 1.000.000.- en efectivo</b><br>
                    <b class="pl-8">5 Premios	$ 400.000.- en efectivo c/u</b>
                </p>
                <p>
                    <b>6º   Sorteo Múltiple	16º Premio	$ 900.000.- en efectivo </b><br>
                    <b class="pl-8">5 Premios 	$ 300.000.- en efectivo c/u</b>
                </p>
                <p>
                    <b>5º Sorteo Múltiple	17º Premio	$ 800.000.- en efectivo</b><br>
                    <b class="pl-8">5 Premios	$ 300.000.- en efectivo c/u</b>
                </p>
                <p>
                    <b>4º Sorteo Múltiple	18º Premio	$ 700.000.- en efectivo </b><br>
                    <b class="pl-8">5 Premios	$ 200.000.- en efectivo c/u</b>
                </p>
                <p>
                    <b>3º Sorteo Múltiple	19º Premio	$ 600.000.- en efectivo </b><br>
                    <b class="pl-8">5 Premios	$ 200.000.- en efectivo c/u</b>
                </p>
                <p>
                    <b>2º Sorteo Múltiple	20º Premio	$ 500.000.- en efectivo  </b><br>
                    <b class="pl-8">5 Premios	$ 100.000.- en efectivo c/u</b>
                </p>
                <p>
                    <b>1º Sorteo Múltiple	21º Premio	$ 400.000.- en efectivo </b><br>
                    <b class="pl-8">5 Premios	$ 100.000.- en efectivo c/u</b>
                </p>
                <p>
                    El acto se realizará en instalaciones del Club Sociedad Sportiva Devoto sito en calle Almirante Brown 100 de la localidad de Devoto provincia de Córdoba el día 17 de diciembre de 2022 a partir de las 19.00 hs., ante Escribano Público. Con una combinación de números por sistema de bingo con único ganador.
                </p>
                <p>
                    <strong>ARTICULO 9: SORTEOS CARNAVAL</strong>
                    Participarán del sorteo carnaval todos aquellos asociados que tengan abonada la cuota del mes de febrero. El sorteo se realizará el martes 8 de marzo de 2022.  Para participar de dicho sorteo le asignaremos una combinación de números con único ganador, al cual podrá acceder mediante su DNI y género en la página oficial de la promoción www.lagranpromoción.com.ar El sorteo se realizará con un bolillero neumático y con la presencia de escribano público, será transmitido por redes sociales, televisión local, por Fm Libertad por intermedio de la página oficial y una app bajo la denominación MULTIMEDIO DEVOTO. El sorteo se realizará en instalaciones de SOCIEDAD COSMOPOLITA DE SOCORROS MUTUOS sito en calle Bv 25 de mayo 517 de la localidad de Devoto provincia de Córdoba a partir de las 21.
                </p>
                <p>
                    <strong class="text-uppercase">1 SORTEO MÚLTIPLE</strong>
                </p>
                <p>
                    <span>1º Premio	 1 Premio	$ 100.000.-</span>
                </p>
                <p>
                    <span>2º Premio	 5 Premios	$   30.000.- c/u</span>
                </p>
                <p>
                    <span>3º Premio	 15 Premios	$   20.000.- c/u</span>
                </p>
                <p>
                    <strong class="text-uppercase">3 SORTEOS INDIVIDUALES</strong>
                </p>
                <p>
                    <span>1º Premio	1 Premio	$	100.000.-</span>
                </p>
                <p>
                    <span>1º Premio	1 Premio	$	150.000.-</span>
                </p>
                <p>
                    <span>1º Premio	1 Premio	$	200.000.-</span>
                </p>
                <p>
                    A continuación, detallamos las fechas de cada uno de los sorteos QUINCENALES restantes:
                    13-04-2021, 11-05-2021, 08-06-2021, 13-07-2021, 10-08-2021, 14-09-2021, 12-10-2021, 09-
                    11-2021.
                </p>
                <p>
                    <strong>ARTICULO 10: SORTEO ESPECIAL DE MARZO</strong>
                    Participarán del sorteo especial de marzo todos los asociados que tenga abonadas las cuotas de febrero y marzo. El sorteo se realizará el jueves 31 de marzo de 2022. Para participar de dicho sorteo le asignaremos una combinación de números con único ganador, al cual podrá acceder mediante su DNI y género en la página oficial de la promoción www.lagranpromocion.com.ar . El sorteo se realizará con un bolillero neumático y la presencia de escribano público, será transmitido por redes sociales, televisión local, por Fm Libertad por intermedio de la página oficial y una app bajo la denominación MULTIMEDIO DEVOTO.
                </p>
                <p>
                    El sorteo se realizará en instalaciones de SOCIEDAD COSMOPOLITA DE SOCORROS MUTUOS sito en calle Bv 25 de mayo 517 de la localidad de Devoto provincia de Córdoba a partir de las 21 y los premios se distribuyen de la siguiente manera:
                </p>
                <p>
                    <strong class="text-uppercase">1 SORTEO MULTIPLE</strong>
                </p>
                <p>
                    <span>1er PREMIO	1  premio   		$ 200.000.-</span>
                </p>
                <p>
                    <span>2do PREMIO	5  premios	   	$ 50.000.- c/u	</span>
                </p>
                <p>
                    <span>3er PREMIO 15 premios de $30.000.-</span>
                </p>
                <p>
                    <span>4to PREMIO 35 premios de $20.000.-</span>
                </p>
                <p>
                    <strong class="text-uppercase">1 SORTEO MULTIPLE</strong>
                </p>
                <p>
                    <span>1er PREMIO   1 premio		$ 200.000.-</span>
                </p>
                <p>
                    <span>2do PREMIO  5 premios		$ 50.000.- c/u	</span>
                </p>
                <p>
                    <span>3er PREMIO	15 premios		$ 30.000.- c/u	</span>
                </p>
                <p>
                    <strong class="text-uppercase">3 Sorteo individual:</strong>
                </p>
                <p>
                    <span>1er PREMIO DE $ 200.000.- </span>
                </p>
                <p>
                    <span>1er PREMIO DE $ 300.000.-</span>
                </p>
                <p>
                    <span>1er PREMIO FIAT CRONOS ATTRACTIVE</span>
                </p>

                <p>
                    <strong>ARTICULO 11: SORTEO MENSUAL ESPECIAL JULIO</strong>
                    Participarán del sorteo especial de julio todos los asociados que tenga abonadas las cuotas al día. El sorteo se realizará el jueves 28 de julio de 2022, por lo tanto, el asociado deberá tener abonadas las cuotas del mes de febrero, marzo, abril, mayo, junio y julio. Para participar de dicho sorteo le asignaremos una combinación de números con único ganador, al cual podrá acceder mediante su DNI y género en la página oficial de la promoción www.lagranpromocion.com.ar . El sorteo se realizará con un bolillero neumático y con la presencia de escribano público,  será transmitido por redes sociales, la página oficial, televisión local, por Fm Libertad por intermedio de la página oficial y una app bajo la denominación MULTIMEDIO DEVOTO. El sorteo se realizará en instalaciones de SOCIEDAD COSMOPOLITA DE SOCORROS MUTUOS sito en calle Bv 25 de mayo 517 de la localidad de Devoto provincia de Córdoba a partir de las 21.
                </p>
                <p>
                    <strong class="text-uppercase">1 SORTEO MULTIPLE</strong>
                </p>
                <p>
                    <span>1º Premio	1 Premio	$ 100.000.-</span>
                </p>
                <p>
                    <span>2do PREMIO	5  premios	$ 50.000.- c/u	</span>
                </p>
                <p>
                    <span>3er PREMIO 15 premios de $30.000.-</span>
                </p>
                <p>
                    <span>4to PREMIO 35 premios de $20.000.-</span>
                </p>
                <p>
                    <strong class="text-uppercase">3 SORTEOS INDIVIDUALES</strong>
                </p>
                <p>
                    <span>1º PREMIO	$ 1.000.000.-</span>
                </p>
                <p>
                    <span>1º PREMIO 1 VIAJE AL MUNDIAL DE QATAR PARA 2 PERSONAS</span>
                </p>
                <p>
                    <span>1º PREMIO 1 FIAT CRONOS ATTRACTIVE</span>
                </p>
                <p>
                    <strong>ARTICULO 12: Reclamos</strong>
                    La entidad, solo atenderá reclamos por pérdida, sustracción, deterioro u otra circunstancia que imposibilite la presentación material, total/parcial e intacta de la chequera conteniendo los cartones de bingo correspondientes;  cuando el asociado formalice dicho reclamo en forma fehaciente hasta 48 (cuarenta y ocho) horas antes de los sorteos previstos, presentando la exposición policial  correspondiente y los recibos de pagos de todas las cuotas; más allá de no existir la presencia física de la chequera o cartón para el seguimiento de cada uno de los sorteos previstos, el asociado continúa habilitado para la participación de todos los sorteos controlados por sistema computarizado, atento registros obrantes en la Entidad.
                </p>
                <p>
                    <strong>ARTICULO 12:</strong>
                    La combinación de números detalladas en el artículo 8 y denominado
                    “cartón”, será entregado por “La Mutual” previo al sorteo final. Será propietario del cartón de
                    promoción societaria el asociado titular activo, tanto en la utilización de los beneficios que
                    como asociado la entidad le otorga, como en la participación de los sorteos, siendo los
                    beneficios intransferibles, con la sola excepción del heredero de un asociado adherido, fallecido
                    durante la campaña anual.
                </p>
                <p>
                    <strong>ARTICULO 13:</strong>
                    La combinación de números detalladas en el artículo 8 y denominado “cartón”, será entregado por “La Mutual” previo al sorteo final, también podrá visualizarlo o jugar en línea a través de la página oficial de la promoción accediendo mediante su DNI y género. Será propietario del cartón de promoción societaria el asociado titular activo, tanto en la utilización de los beneficios que como asociado la entidad le otorga, como en la participación de los sorteos, siendo los beneficios intransferibles, con la sola excepción del/los herederos de un asociado adherido, fallecido durante la campaña anual.
                </p>
                <p>
                    <strong>ARTICULO 14:</strong>
                    En caso de suspensión, prórroga, reprogramación o anulación de lo/s sorteo/s previstos en esta campaña, los mismos se resolverán según lo determine la Lotería de la Provincia de Córdoba S.E., lo que será publicado por “La Mutual”, en los diarios La Voz de San Justo y La Nueva Mañana de Córdoba, como mínimo durante dos días en c/u de ellos, además,  mediante folletos,  sitios web   www.lagranpromocion.com.ar  y www.diariodevoto.com.ar;  y/o cualquier otro medio de difusión masivo. También, la entidad, por idénticos medios anunciará las fechas de las adjudicaciones y sus respectivos beneficiarios
                </p>
                <p>
                    Las imágenes contenidas en el material impreso y promocional son solo ilustrativas. Los adjudicatarios autorizan expresamente a la Entidad a difundir y/o publicar sus nombres y/o fotografías, y/o divulgar imágenes filmadas en los medios y en las formas que se consideren convenientes
                </p>
                <p>
                    <strong>ARTICULO 15: </strong>
                    “Sistema de sorteos múltiples”: por razones de organización la entidad tiene previsto en el sorteo final realizar en los sorteos 1,2,3,4,5,6,7,8,9 y 10 sorteos múltiples. Por lo tanto, los sorteos serán 21, de los cuales en 11 sorteos habrá un único ganador y en 10 sorteos, además del único ganador habrá 5 ganadores más, totalizando de esta manera, los 71 ganadores de los premios detallados en el artículo 8.
                </p>
                <p>
                    <strong>ARTICULO 16: </strong>
                    Los sorteos  en los que el asociado participará (que podrá estar presente o no en los eventos –Premio pago anticipado – Sorteo Final) con la combinación de números detallados en el artículo 7 y 8, se ajustarán a las siguientes normas:
                </p>
                <p>
                    a) Se utilizará un bolillero transparente de impulsión neumática con sistema de extracción automático, de tal manera que no sea necesaria la intervención de la mano del hombre para el proceso de extracción de bolillas.
                </p>
                <p>
                    b) Cada uno de los sorteos contará con el control y fiscalización de Escribano Público para garantizar una máxima transparencia del mismo c) el sistema de sorteos será el siguiente: Se realizará la extracción de las bolillas una a una al tiempo que en un sistema de seguimiento computarizado comunicará la presencia de un cartón ganador.
                </p>
                <p>
                    Luego, a través de los registros que la Entidad posea sobre la distribución del Plan Anual Societario La gran promoción 2022 se ubicará al participante poseedor del cartón de la promoción dándose a conocer de inmediato estos datos.
                </p>
                <p>
                    <strong>ARTICULO 17: ”Sistema salen todos los premios”: </strong>
                    Para el caso que el cartón de números corresponda a un plan de promoción societaria no suscripto por ninguna persona, o bien corresponda a un asociado sin todas las cuotas pagas de la promoción, se introducirán todas las bolillas en el bolillero procediéndose a una nueva adjudicación, marcando el asociado sobre el mismo cartón, teniendo el cuidado en ambas oportunidades que la marca no destruya la legibilidad de los números de la combinación.
                </p>
                <p>
                    Si sucediera que, en una segunda instancia de sorteo de los primeros premios de sorteos múltiples e individuales, correspondieran a un plan no suscripto o a un asociado no al día en el pago de sus cuotas, se procederá a una tercera instancia de sorteo y las que resulten necesarias mediante bolillero automático con el número de asociado para los sorteos de carnaval, mensuales y especiales; y con el número de cartón para los sorteos de pago anticipado y sorteo final.
                </p>
                <p>
                    En el caso de los sorteos múltiples, si uno o más ganadores correspondieran a un plan no suscripto o a un asociado sin todas las cuotas pagas, se procederá a sortear los premios sin ganadores en forma individual, utilizando bolillero electrónico que determinará el ganador   según el número de cartón que posea el asociado.
                </p>
                <p>
                    Tampoco participarán del sorteo por bolillero electrónico quienes ya hayan ganado alguno de los premios de ese sorteo, ya sea el individual o uno de los múltiples del sorteo en cuestión, es decir que, en caso que el numero que surja del bolillero electrónico coincida con el ganador individual o de alguno de los múltiples, siempre refiriéndonos a ese sorteo, se procederá a volver a sortear ese premio por el mismo sistema.
                </p>
                <p>
                    Esta disposición de que “salen todos los premios” se aplicará para todas las adjudicaciones previstas en la promoción, inclusive en los sorteos mensuales y especiales.
                </p>
                <p>
                    “La Mutual” se declara único responsable de la entrega de la totalidad de los premios, liberando y eximiendo de toda responsabilidad a la entidad autorizante, facultando a LOTERIA DE LA PROVINCIA S.E a hacer entrega de los datos y copia certificada que avala la entrega de premios de los potenciales beneficiarios.
                </p>
                <p>
                    <strong>ARTICULO 18: Acta oficial:</strong>
                    En todos los sorteos de adjudicación se labrará un acta que fiscalizará y suscribirá el escribano público actuante, la que se considerará como ACTA OFICIAL DE ADJUDICACION. Si por algún desperfecto de orden técnico o bien por error humano, durante el acto de adjudicación se presentara alguna situación de anormalidad o dificultad que imposibilite la total claridad o transparencia del acto de adjudicación, será lo que conste en la mencionada acta el único medio veraz e inapelable de información del resultado de las mismas, a través del cual se determinará el asociado con derecho al beneficio.
                </p>
                <p>
                    <strong>ARTICULO 19: Plazo:</strong>
                    El plazo establecido para el cobro o retiro de los premios en la sede de “La Mutual” queda establecido de la siguiente manera: dentro de los 7 (siete) días corridos a contar de la fecha de las adjudicaciones deberán entregarse los premios en efectivo y 60 días corridos para el resto de los premios. Transcurrido ese término, “La Mutual” reiterará fehacientemente al asociado el aviso por el premio obtenido (en cualquiera de los sorteos previstos). Luego de emitida dicha comunicación se realizará una última espera de 10 días corridos y transcurrido ese término caducará automáticamente el derecho al cobro o retiro de los mismos, sin posibilidad de reclamo alguno y el beneficio quedará en este caso y como excepción, para “La Mutual.
                </p>
                <p>
                    <strong>ARTICULO 20: Gastos:</strong>
                    El asociado acreedor de cualquier premio deberá hacerse cargo de cualquier erogación que genere la posesión del mismo (impuestos, fletes, gastos, patentamientos, incluido Ley 20.630 de Impuestos a los Premios) serán de exclusivo cargo del asociado adjudicado, siendo responsabilidad del mismo cualquier acto que este realice con su beneficio una vez retirado el premio de donde determina LA MUTUAL.
                </p>
                <p>
                    <strong>ARTICULO 21: Falta de pago:</strong>
                    La falta de pago total o parcial del plan anual Societario La Gran Promoción por parte del asociado, significará la pérdida de todo derecho a los beneficios que “La Mutual” preste, incluyendo la participación en las adjudicaciones.
                </p>
                <p>
                    El asociado ganador de cualquier premio de la Gran Promoción no podrá ceder dicho premio, ya que se trata de un premio a su condición de asociado que es intransferible, para poder percibir el mismo deberá estar al día con todas sus obligaciones societarias, lo que implica no adeudar nada a Sociedad Cosmopolita de Socorros Mutuos por el uso de los diferentes servicios que se brindan a los asociados.
                </p>
                <p>
                    En caso de que exista alguna obligación pendiente de pago a cargo del asociado ganador, este podrá retirar su premio, previo pago de lo adeudado y/o retención por parte de la institución del saldo adeudado, más intereses y gastos si la obligación estuviera vencida. Si se trata de un premio que sea un bien mueble o inmueble, se tomará como valor del bien a los efectos del pago de la obligación pendiente de pago por parte del asociado deudor, el valor que haya abonado la entidad al momento de adquirir el bien, y, en caso de que después del descuento quedase un saldo a favor del asociado ganador, se le hará entrega del saldo en efectivo o cheque, con los respectivos recibos que acrediten la cancelación de lo adeudado.
                </p>
                <p>
                    <strong>ARTICULO 22: Fallecimiento</strong>
                    En caso del lamentable deceso de un asociado adherido a la promoción que estuviera al día en el pago de sus cuotas, aquellas cuotas que se encontrarán pendientes de cancelar por registrar vencimientos posteriores al deceso quedarán automáticamente canceladas. El o los herederos tendrán derecho a participar de las adjudicaciones de la promoción societaria anual aún pendientes, siempre que acredite/n legalmente su condición de heredero/s.
                </p>
                <p>
                    <strong>ARTICULO 23: </strong>
                    La entidad organizadora de la Promoción societaria La Gran Promoción, es Sociedad Cosmopolita de Socorros Mutuos, Matrícula INAES N° 069- Cba., que hacemos referencia en este reglamento y bases como “La Mutual”, será la única responsable por la entrega de todas las adjudicaciones previstas en este reglamento y por las que responde con todo su patrimonio social, sin exclusión.  “La Mutual” libera de cualquier responsabilidad a promotores, personas físicas o jurídicas, organismos municipales, provinciales o nacionales, de control y/o autorizantes.
                </p>
                <p>
                    <strong>ARTICULO 23: Fuero</strong>
                    El solo hecho de participar en la Promoción societaria La Gran Promoción, significará la aceptación integral y total de la presente reglamentación. Por cualquier divergencia que pudiera suscitarse entre los participantes de la Promoción y su incentivo de distribución gratuita, “La Mutual” organizadora fija domicilio en calle 25 de mayo 517 de la localidad de Devoto, Departamento San Justo, Provincia de Córdoba y las partes se someten a la jurisdicción y competencia de los Tribunales Ordinarios de la ciudad de San Francisco, Prov. de Córdoba, con la exclusión de cualquier otro fuero que pudiere corresponder.
                </p>
            </div>           
            <br />
        </div>
    </div>
</div>
